:root {
  --theme-color-primary-50: #f2fcf9;
  --theme-color-primary-100: #def7ef;
  --theme-color-primary-200: #c9f1e5;
  --theme-color-primary-300: #b3ebda;
  --theme-color-primary-400: #a2e7d2;
  --theme-color-primary-500: #92e3ca;
  --theme-color-primary-600: #8ae0c5;
  --theme-color-primary-700: #7fdcbd;
  --theme-color-primary-800: #75d8b7;
  --theme-color-primary-900: #64d0ab;
  --theme-color-primary-A100: white;
  --theme-color-primary-A200: white;
  --theme-color-primary-A400: #ecfff9;
  --theme-color-primary-A700: #d2fff1;
  --theme-shade-light-100: rgba(255, 255, 255, 0.02);
  --theme-shade-light-200: rgba(255, 255, 255, 0.08);
  --theme-shade-light-300: rgba(255, 255, 255, 0.1);
  --theme-shade-light-400: rgba(255, 255, 255, 0.3);
  --theme-shade-light-500: rgba(255, 255, 255, 0.6);
  --theme-shade-light-600: rgba(255, 255, 255, 0.8);
  --theme-shade-light-900: rgba(255, 255, 255, 0.95);
  --theme-shade-dark-100: rgba(26, 26, 26, 0.02);
  --theme-shade-dark-200: rgba(26, 26, 26, 0.05);
  --theme-shade-dark-300: rgba(26, 26, 26, 0.1);
  --theme-shade-dark-400: rgba(26, 26, 26, 0.3);
  --theme-shade-dark-500: rgba(26, 26, 26, 0.6);
  --theme-shade-dark-600: rgba(26, 26, 26, 0.8);
  --theme-shade-dark-900: #1a1a1a;
  --theme-color-alert: rgb(255, 96, 88);
  --theme-color-alert-light: rgba(255, 96, 88, 0.7);
  --theme-color-alert-extralight: rgba(255, 96, 88, 0.5);
  --difficulty-1: #2b66c5;
  --difficulty-2: #bb261a;
  --difficulty-3: #272727;
  --theme-background-color: var(--theme-shade-dark-900);
  --theme-shadow-color: #000000cc;
  --theme-text-color: var(--theme-shade-light-600);
}
